parameters:
	level: max
	paths:
		- src
		- tests
		- bdi
	ignoreErrors:
		-
			message: '#Method .* return type has no value type specified in iterable type .*.#'
			path: tests/Browser/GoogleChrome/VersionResolverTest.php
		-
			message: '#.* no value type specified in iterable type .*.#'
			path: src/Browser/GoogleChrome/VersionResolver.php

includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/thecodingmachine/phpstan-safe-rule/phpstan-safe-rule.neon
    - vendor/thecodingmachine/phpstan-strict-rules/phpstan-strict-rules.neon