parameters:
	level: max
	paths:
		- src
		- tests
		- bdi
	ignoreErrors:
		- '#In method \"DBrekelmans\\BrowserDriverInstaller\\Command\\DetectCommand::execute\", caught \"Throwable\" must be rethrown#'
		- '#Parameter \#2 $files of method Phar::extractTo() expects array|string, null given.#'

includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/thecodingmachine/phpstan-safe-rule/phpstan-safe-rule.neon
    - vendor/thecodingmachine/phpstan-strict-rules/phpstan-strict-rules.neon