parameters:
	ignoreErrors:
		-
			message: '#^Argument of an invalid type mixed supplied for foreach, only iterables are supported\.$#'
			identifier: foreach.nonIterable
			count: 1
			path: src/Driver/ChromeDriver/DownloadUrlResolver.php

		-
			message: '#^Cannot access offset ''chromedriver'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Driver/ChromeDriver/DownloadUrlResolver.php

		-
			message: '#^Cannot access offset ''downloads'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Driver/ChromeDriver/DownloadUrlResolver.php

		-
			message: '#^Cannot access offset ''platform'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Driver/ChromeDriver/DownloadUrlResolver.php

		-
			message: '#^Cannot access offset ''url'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Driver/ChromeDriver/DownloadUrlResolver.php

		-
			message: '#^Cannot access offset string on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Driver/ChromeDriver/DownloadUrlResolver.php

		-
			message: '#^Cannot access offset ''Beta'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Driver/ChromeDriver/VersionResolver.php

		-
			message: '#^Cannot access offset ''Stable'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Driver/ChromeDriver/VersionResolver.php

		-
			message: '#^Cannot access offset ''version'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 3
			path: src/Driver/ChromeDriver/VersionResolver.php

		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 2
			path: src/Driver/ChromeDriver/VersionResolver.php

		-
			message: '#^Method DBrekelmans\\BrowserDriverInstaller\\Driver\\ChromeDriver\\VersionResolver\:\:getVersionString\(\) should return string but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: src/Driver/ChromeDriver/VersionResolver.php

		-
			message: '#^Parameter \#2 \$array of function array_key_exists expects array, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Driver/ChromeDriver/VersionResolver.php
