parameters:
	level: max
	paths:
		- src
		- tests
		- install.php

includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/thecodingmachine/phpstan-safe-rule/phpstan-safe-rule.neon
    - vendor/thecodingmachine/phpstan-strict-rules/phpstan-strict-rules.neon